/* overall things */
body {
    background-color: #FA8258;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FA8258;
}

.main h1 {
    margin-left: auto ;
    margin-right: auto ;
    font-size: 120px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.main h3 {
    color: #fff;
}

.playing button {
    position: absolute;
    left: 47%;
    margin-top: 270px;
}


/* John's CSS */
.col-md-4 p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.row p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.row textarea {
    text-align: center;
}

#transcription {
    font-size: 30px;
    height: 300px;
}